a,
h1,
h2,
h3,
h4 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 17px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: #964b00; /* cor de fundo */
}

.topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 80px; /* aqui define o espaçamento nas laterais */
}

.logo {
  width: 10%; /* ajuste o tamanho da logo conforme necessário */
  height: auto; /* mantém a proporção da imagem */
  border-radius: 50%;
  margin: 5px -50px;
}

.menu-superior {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.menu-superior a {
  text-decoration: none;
  background-color: #ff8c00;
  color:  #4d4b4b;
  padding: 18px 30px;
  border-radius: 6px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.menu-superior a:hover {
  color: #080807; /* nova cor do texto ao passar o mouse */
}

.rodapé2 {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 20px;
  width: 100%;
  margin-top: 68px; /* Adiciona espaço acima do rodapé */
  color: #ffffff;
}
.rodapé2 p {
  margin: 0; /* Remove margem padrão */
  line-height: 1.5; /* Melhora o espaçamento entre linhas */
  font-size: 0.7em; /* Tamanho do texto */
  font-weight: bold; /* Negrito */
}
